@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
  }
  
  .bn37 {
    border-color: transparent;
    background-color: rgb(175, 31, 31);
    color: rgb(255, 255, 255);
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
    
  .bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }
.so{
    border-color: transparent;
    background-color: rgb(68, 158, 56);
    color: rgb(255, 255, 255);
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    display: flex;
    align-items: center;
}
.info .so{
  border-color: transparent;
  background-color: rgb(24, 24, 24);
  color: rgb(255, 255, 255);
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
  align-items: center;
  margin-bottom: 90px;
}
.info .so:hover{
    background-color: rgb(197, 117, 85);
    transition: transform 2s;
}

.rea{
    border-color: transparent;
    background-color: rgb(85, 196, 70);
    color: rgb(255, 255, 255);
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    margin-bottom:50px ;
}
.rea:hover{
  background-color: rgb(64, 126, 35);
  transition: transform 2s;
}

.des{
    margin-right: 300px;
    
}
.des h5{
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 900;
}
.des p{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
  padding-left: 715px;
}
.des ul{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
  padding-left: 715px;
}
.des strong{
  font-size: 18px;
  text-align: left;
  padding-left: 715px;
}
.pro{
  padding-top: 50px;
  font-size: 20px;
}
.social{
    width: 30px;
    height: auto;
    margin-left: 30px;
}
.logo{
    margin: 0;
    width: 250px;
    padding: 40px;
    display: block;
}
.top{
    align-items: center;
    justify-content: center;
    display: flex;
}
.tp{
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    align-content: center;
    justify-content: center;
    display: flex;
    text-align: center;
}
.tp span{
    color: rgb(24, 24, 24);
    font-family: 'Russo One', sans-serif;
}
.menu{
    display: flex;
    padding: 200px;
    
}

.c3{
    display: block;
    text-align: center;  
}
.tag{
    color: rgb(39, 39, 39);
    font-size: 38px;
    margin: 0;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}
.footer{
    padding: 40px;
    background-color: rgb(32, 32, 32);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.navbar{
    background-color: rgb(250, 224, 108);
    padding: 10px;
    padding-bottom: 50px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.par{
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    font-weight: 800;
}
.step{
    margin-bottom: 30px;

}
.ed{
    border-color: transparent;
    background-color: rgb(212, 214, 70);
    color: rgb(255, 255, 255);
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: rgb(32, 32, 32);
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    
}
.fot{
    background-color: white;
    border-radius: 80px;
    display: flex;
    align-items: center;

}
.fot img{
    width: 100px;
    justify-content: center;
    display: flex;
    align-items: left;
}
footer p{
    color: white;
    font-size:22px;
    font-family: 'Fredoka One', cursive;
    right: 0px;
    width: 200px;
    padding-bottom: 50px;
}
.ace{
    color: rgb(190, 54, 54);
    font-size: 13px;
}
.info{
    color: rgb(39, 39, 39);
    font-size: 18px;
    margin: 0;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}
.info img{
    width: 30px;
    padding-right: 25px;
}
  
  .clip {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .svg--source {
    display: none
  }
  
  .svg--icon {
    width: 50%;
    max-width: 3rem;
    height: 50%;
    max-height: 3rem;
    display: block;
    margin: 0 auto;
    fill: currentColor
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  
  .share {

    float: left;
    margin: .5rem 1rem .5rem 0;
    color: #353c4a;
    border: .125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 50%;
    transition: 250ms;
    
    &:last-child {
      margin-right: 0
    }
    
    &:hover,
    &:focus {
      background: #f1f1f1;
    }
    
    &:focus {
      outline-color: inherit;
    }
  }
  
  .twitter {
    &:hover,
    &:focus {
      color: #00ACED;
      box-shadow: 0 0 24px 0 #00ACED
    }
  }
  
  .github {
    &:hover,
    &:focus {
      color: #4183c4;
      box-shadow: 0 0 24px 0 #4183c4
    }
  }
  
  .pinterest {
    &:hover,
    &:focus {
      color: #bd081c;
      box-shadow: 0 0 24px 0 #bd081c
    }
  }
  
  .youtube {
    &:hover,
    &:focus {
      color: #cd201f;
      box-shadow: 0 0 24px 0 #cd201f
    }
  }
  
  .facebook {
    &:hover,
    &:focus {
      color: #3b5998;
      box-shadow: 0 0 24px 0 #3b5998
    }
  }
  
  .google {
    &:hover,
    &:focus {
      color: #dd4b39;
      box-shadow: 0 0 24px 0 #dd4b39
    }
  }
  